/* .container{
  display: flex;
  justify-content: center;
  align-items: center;
}

.label_input{
  width: 25rem;
  height: 3rem;
  border-radius: 10px;
  font-size: 2rem;
  padding: 2rem;
}

.button{
  border-radius: 10px;
} */